* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  color: #fff;
}
body {
  background-color: #000;
}
.Navigation {
  padding-bottom: 270px;
}
.Navigation header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #00000098;
  backdrop-filter: blur(5px);
  z-index: 1000;
  gap: 400px;
}

.Navigation header a {
  text-decoration: none;
  color: #fff;
}

.Navigation header nav ul li a {
  transition: all 300ms ease;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}
.Navigation header nav ul li a:hover {
  color: #ffffff76;
  border-bottom: 1px solid #ffffff76;
}

/* responsiveness */
@media screen and (max-width: 768px) {
  .Navigation header {
    gap: 0;
    justify-content: flex-start;
    text-align: left;
  }
  .Navigation nav ul li {
    display: none;
  }
}

.Home .heroContent button {
  border: 1px solid #fff;
  border-radius: 2px;
  padding: 5px 15px;
  background-color: #00000000;
}
.Home .heroContent button a {
  text-decoration: none;
  color: #fff;
}

/* About */
.About {
  margin-top: 150px;
}
.About #parent {
  padding: 48px;
}
.About .content {
  padding-left: 80px;
}
.About img {
  max-width: 25%;
}

/* Servicces */
.Services {
  margin-top: 120px;
}
.Services .container {
  margin-top: 90px;
  max-width: 1400px;
  display: flex;
  gap: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.Services .container .contain {
  text-align: center;
  padding: 0 20px;
  max-width: 300px;
}
.Services .container .contain a img {
  width: 100%;
  margin-bottom: 20px;
}

/* Contact */
.Contact .container {
  padding: 120px 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 870px;
  gap: 45px;
}
.Contact .container .contain .social-media-icons {
  display: flex;
  justify-content: flex-start;
  gap: 13px;
}
.Contact .container form input {
  padding: 5px 15px;
  border: none;
  background-color: #00000000;
  border-bottom: 3px solid #fff;
  text-align: right;
}
.Contact .container form input[type=number]::-webkit-inner-spin-button,
.money input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.Contact .container form textarea {
  padding: 5px 15px;
  border: none;
  background-color: #000;
  border-bottom: 3px solid #fff;
  width: 100%;
  height: 100px;
  text-align: right;
}
.Contact .container form button {
  width: 100%;
  background-color: #000;
  color: #fff;
  border: 1px solid #ffffff42;
  border-radius: 2px;
  margin-top: 20px;
  padding: 10px 0;
}

/* Responsiveness */

@media screen and (max-width: 1024px) {
  /* About */
  .About #parent {
    display: flex;
    flex-direction: column;
  }
  .About .content {
    padding: 40px;
  }
  .About img {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  /* Home */
  .Home #parent p {
    font-size: 13px;
  }
  .About .content {
    padding: 0;
  }
  .Services .container {
    display: flex;
    flex-direction: column;
  }
  .Services .container .contain p{
    font-size: 12px;
  }
  .Contact .container {
    padding: 120px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
  }
  .Contact .container p {
    font-size: 13px;
  }
  .Contact .container .contain .social-media-icons {
    display: flex;
    justify-content: center;
  }
  .Contact .container form {
    width: 100%;
  }
  .Contact .container form input {
    text-align: left;
    width: 100%;
  }
  .Contact .container form textarea {
    text-align: left;
  }
}

@media screen and (max-width: 425px) {
  .Home #parent h1 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .Home #parent h6 {
    font-size: 14px;
    margin-bottom: 15px;
  }
  .Home #parent {
    padding: 30px;
  }
  .Home #parent #homey {
    font-size: 13px;
  }
  .Home .heroContent button {
    padding: 4px 13px;
    font-size: 12px;
  }
}

.Footer {
  background-color: rgb(19, 19, 19);
}
.Footer h5 {
  margin: 0;
  padding: 10px 0;
  text-align: center;
  font-size: 10px;
}
